
.list-container{
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
flex-basis:100%;
 font-size: 100%;
}

.left-col h1{
color: #fff;
font-weight: 600;
    font-size: 2.6rem;
    text-align: center;
margin-bottom: 30px;
    margin-left: 10px;
}
.house{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 30px 0;
border-top: 1px solid #ccc;
}
.house-img{
margin: 10px;
flex-basis: 34%;
}
.house-info{
cursor: pointer;
    margin: 10px;
    font-size: 1005;
flex-basis: 58%;
color: #fff;
}
.house-img img{
width: 100%;
border-radius: 12px;
    background-color: #fff;
}

.house-info h3{
font-weight: 600;
color: #fff;
font-size: 33px;
margin: 4px 0;
}
.house-info p{
    font-size: 15px;
}
.house-info i{
color: var(--main-color);
font-size: 18px;
margin: 10px 1px;
}
.house-price{
text-align: right;
    margin-right: 20px;
}
.house-price h4{
font-size: 20px;
}
.house-price h4 span{
font-size: 16px;
font-weight: 500;
}    
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#222;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-bars{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        border-top: .1rem solid #222;
        background: #333;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar a{
        display: flex;
        background:#222;
        border-radius: .5rem;
        padding:1.3rem;
        margin:1.3rem;
        font-size: 2rem;
    }

    .home .content h3{
        font-size: 4rem;
    }

}
@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .home .home-slider .swiper-slide{
        width: 27rem;
    }

    .contact form .inputBox input{
        width: 100%;
    }

}